.customers-row {
  padding: 16px 20px;
  display: flex;
  background-color: #fff;
  border-radius: 74px;

  .customer-column {
    width: 241px;
  }

  .customer-email {
    cursor: pointer;

    a {
      color: #000;
    }
  }
}