@import '../../../styles/variables';

.textarea-container {
  width: 100%;
  height: 100%;
  position: relative;
  
  .textarea {
    width: 100%;
    height: 100%;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 18px;
    background-color: $-lightgray-b;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    resize: none;
  
    &::placeholder {
      color: #4D565C;
    }
  
    &:active {
      outline: none;
    }
  }
  
  .error-message {
    margin-left: 16px;
    font-size: 10px;
    color: red;
    position: absolute;
    bottom: -15px;
  }
}