* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  background-color: #F0F0F0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
