@import '../../styles/variables.scss';

.modal-customers {
  height: 120px;

  .modal-inputs {
    display: flex;
    gap: 16px;

    .form-control {
      height: 46px;
      padding: 16px;
    }
  }

  .submit-button {
    width: 100%;
    margin-top: 32px;
  }
}